.addUser{
    background-color: white;
    color: black;
}

.alert-radio-label .sc-ion-alert-md{
    color: red;
}

// .ionic-selectable-modal .ion-toolbar{
//     background-color: red;
// }

.error-container{
    font-size: x-small;
    color: red;
}