<ion-tabs>

  <ion-tab-bar slot="bottom" style="background-color: white;">
    <ion-tab-button tab="tab1" style="background-color: white;">
      <ion-icon name="home"></ion-icon>
      <ion-label>الرئيسية</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button *ngFor="let tab of subtabs" tab="tab2/{{tab.name}}">
      <ion-label>{{tab.name|uppercase}}</ion-label>
    </ion-tab-button> -->
    <!-- [disabled]="user != 'transportation'" -->
    <ion-tab-button tab="tab4" *ngIf="userType == 'transportation'" style="background-color: white;">
      <!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
      <ion-icon name="paper-plane-sharp"></ion-icon>
      <ion-label>السائق</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" *ngIf="userType == 'transportation'" style="background-color: white;">
      <ion-icon name="create"></ion-icon>
      <ion-label>إدارة البريد الصادر</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" style="background-color: white;">
      <ion-icon name="settings"></ion-icon>
      <ion-label>الضبط</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
