.addCorresTable{
    width: 90%;
    border: solid 2px #A62321;
}

.loginInput{
    width: 90%;
    //text-align: center;
    border: solid 2px #A62321;
    border-radius: 5px;
    margin: 20px;
    direction: rtl;
    background-color: white;
}

.feilds{
    font-size: 22px;
    padding-top: 33px;
    text-align: right;
}

.newAddress{
    float: left;
}

.postdateTime{
    display: none;
}