
.corresdetailscontent{
    margin: 0px 24px;
}
.correspondencedetailsInput{
    // width: 40%;
    //text-align: center;
    border: solid 2px #A62321;
    border-radius: 5px;
    margin: 10px;
    font-size: 13pt;
    padding: 5px;
    direction: rtl;
    background-color: white;
    color: black;
}

.statusTable{
    border: solid 2px #A62321;
    border-radius: 10px !important;
    width: 100%;
    background-color:white;
    // font-size: 16pt;
}

.label{
    font-size: 18pt;
    font-weight: bold;
    color: black;
}
