
.logoImage{
    margin-top: 115px;
    text-align: center;
}

.login{
    // font-size: 45px;
    font-weight: bold;
    color: #A62321;
    
}

.loginButton{
    background: #A62321;
    width: 80%;
    border-radius: 5px;
    margin: 20px;
    direction: rtl;
    color: white;
    height: 50px;
    
    // font-size: 20pt;
}
.generalInput .div .item-native{
    background-color: black;
}
